@imgpath: '../images';

.floatable(){
    float: left;
    clear: none;
}
.buthover(@posx, @posy, @posjump) {
	background-position: @posx @posy;
	&:hover, &.active {
		background-position: @posx (@posy - @posjump);
	}
}
.lihover(@posx, @posy, @posjump) {
	a {
            background-position: @posx @posy;
            &a:hover, &.active a, &.current-item a {
                background-position: @posx (@posy - @posjump);
            }
        }
}

.resetul() {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	li, li li, li li li {
		display: block;
		margin: 0;
		padding: 0;
	}
	ul, ul ul, ul ul ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: block;
	}
	a, a a, a a a {
		display: block;
	}
}

.borders(@color){
    border: 1px solid @color;
}
.borders-special(@color, @t, @r, @b, @l){
    border: 1px solid @color;
	border-width: @t @r @b @l;
}
.border(@side,@size,@color) when (@side=top){
    border-top: @size solid @color;
}
.border(@side,@size,@color) when (@side=left){
    border-left: @size solid @color;
}
.border(@side,@size,@color) when (@side=right){
    border-right: @size solid @color;
}
.border(@side,@size,@color) when (@side=bottom){
    border-bottom: @size solid @color;
}


.bgimgr(@img,@rep) when (@rep=x){
    background-image: url("@{imgpath}/@{img}");
	background-repeat: repeat-x;
}
.bgimgr(@img,@rep) when (@rep=y){
    background-image: url("@{imgpath}/@{img}");
	background-repeat: repeat-y;
}
.bgimgr(@img,@rep) when (@rep=r){
    background-image: url("@{imgpath}/@{img}");
	background-repeat: repeat;
}
.bgimgs(@img,@x, @y){
    background-image: url("@{imgpath}/@{img}");
	background-repeat: no-repeat;
	background-position: @x @y;
}
.bgimg(@img){
    background-image: url("@{imgpath}/@{img}");
	background-repeat: no-repeat;
}
.box-szad(@poziom,@pion,@blur,@spred,@color){
    box-shadow: @poziom @pion @blur @spred @color;
    -webkit-box-shadow: @poziom @pion @blur @spred @color;
    -moz-box-shadow: @poziom @pion @blur @spred @color;
}

.radius-level(@level,@px) when (@level=top)
{
    border-top-left-radius: @px;
    border-top-right-radius: @px;
    -moz-border-top-left-radius: @px;
    -moz-border-top-right-radius: @px;
    -webkit-border-top-left-radius: @px;
    -webkit-border-top-right-radius: @px;
}

.radius-level(@level,@px) when (@level=bottom)
{
    border-bottom-left-radius: @px;
    border-bottom-right-radius: @px;
    -moz-border-bottom-left-radius: @px;
    -moz-border-bottom-right-radius: @px;
    -webkit-border-bottom-left-radius: @px;
    -webkit-border-bottom-right-radius: @px;
}
.radius-special(@tr, @br, @bl, @tl)
{
    border-top-left-radius: @tl;
    border-top-right-radius: @tr;
    -moz-border-top-left-radius: @tl;
    -moz-border-top-right-radius: @tr;
    -webkit-border-top-left-radius: @tl;
    -webkit-border-top-right-radius: @tr;
    border-bottom-left-radius: @bl;
    border-bottom-right-radius: @br;
    -moz-border-bottom-left-radius: @bl;
    -moz-border-bottom-right-radius: @br;
    -webkit-border-bottom-left-radius: @bl;
    -webkit-border-bottom-right-radius: @br;
}

.radius(@px){
    border-radius: @px;
    -moz-border-radius: @px;
    -webkit-border-radius: @px;
}

.s(@d){
    width: @d;
    height:@d;
}

.s(@w,@h){
    width: @w;
    height:@h;
}

.opacity(@unit){
    opacity: @unit / 100;
    filter: ~"alpha(opacity=@{unit})";
}

.center(){
    margin-left: auto;
    margin-right: auto;
}

.contimg (@filename, @path: @imgpath) {
	content: url('@{path}@{filename}');
}

.text-szad(@poziom,@pion,@blur,@color){
    text-shadow: @poziom @pion @blur @color;
    //filter: dropshadow(color=@color, offx=@poziom, offy=@pion);
}

.ff(@fontname, @filename, @path: @imgpath) {
	@font-face{
		font-family: @fontname;
		src: url("@{path}/fonts/@{filename}.eot");
		src: local("@{fontname}"),
			 url('@{path}/fonts/@{filename}.eot?#iefix') format('embedded-opentype'),
			 //url('@{path}/fonts/@{filename}.woff') format('woff'),
			 url('@{path}/fonts/@{filename}.ttf') format('truetype'),
			 url('@{path}/fonts/@{filename}.svg#@{fontname}') format('svg'),
			 url("@{path}fonts/@{filename}.ttf") format("truetype");
		font-weight: normal;
		font-style: normal;
	}
}

.text-outline (@color) {
    text-shadow:
    -1px -1px 0 @color,
    1px -1px 0 @color,
    -1px 1px 0 @color,
    1px 1px 0 @color;

    filter: progid:DXImageTransform.Microsoft.dropshadow(color=@color, offx=-1, offy=-1) progid:DXImageTransform.Microsoft.dropshadow(color=@color, offx=1, offy=-1) progid:DXImageTransform.Microsoft.dropshadow(color=@color, offx=-1, offy=1) progid:DXImageTransform.Microsoft.dropshadow(color=@color, offx=1, offy=1);
}

.box-gradient(@color) {
	background-color: @color;
	background: -moz-linear-gradient(top, hsla(hue(@color), saturation(@color), lightness(@color), 1) 0%, hsla(hue(@color), saturation(@color), lightness(@color), 1) 50%, rhsla(hue(@color), saturation(@color), lightness(@color), 0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(hue(@color), saturation(@color), lightness(@color), 1)), color-stop(50%,hsla(hue(@color), saturation(@color), lightness(@color), 1)), color-stop(100%,hsla(hue(@color), saturation(@color), lightness(@color), 0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, hsla(hue(@color), saturation(@color), lightness(@color), 1) 0%,hsla(hue(@color), saturation(@color), lightness(@color), 1) 50%,hsla(hue(@color), saturation(@color), lightness(@color), 0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, hsla(hue(@color), saturation(@color), lightness(@color), 1) 0%,hsla(hue(@color), saturation(@color), lightness(@color), 1) 50%,hsla(hue(@color), saturation(@color), lightness(@color), 0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, hsla(hue(@color), saturation(@color), lightness(@color), 1) 0%,hsla(hue(@color), saturation(@color), lightness(@color), 1) 50%,hsla(hue(@color), saturation(@color), lightness(@color), 0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, hsla(hue(@color), saturation(@color), lightness(@color), 1) 0%,hsla(hue(@color), saturation(@color), lightness(@color), 1) 50%,hsla(hue(@color), saturation(@color), lightness(@color), 0) 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{color}', endColorstr='@{color}',GradientType=0 ); /* IE6-9 */
}

.bsbb() {
	box-sizing: border-box;
	-moz-box-sizing: border-box; /* Firefox */
	-webkit-box-sizing: border-box; /* Safari */
}

.clear{
    clear: both;
}